.grid-item {
  width: 25%;
  padding: 2px;
}

.card-black {
  border-radius: 0px;
}

.card-content-padding {
  padding-top: 10px;
  padding-bottom: 10px;
}

.video-thumbnail:hover .thumbnail-play-button {
  background-color: #0275d8;
}

.thumbnail-play-button {
  margin-left: -1em;
  margin-top: -1em;
  width: 2em;
  height: 2em;
  border: none;
  border-radius: 50%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  padding-left: 8px;
  background-color: rgba(0,0,0,0.5);
  font-size: 1.2em;
  border-radius: 100%;
  -webkit-transition: border-color .4s,outline .4s,background-color .4s;
  -moz-transition: border-color .4s,outline .4s,background-color .4s;
  -ms-transition: border-color .4s,outline .4s,background-color .4s;
  -o-transition: border-color .4s,outline .4s,background-color .4s;
  transition: border-color .4s,outline .4s,background-color .4s
}

.play-button-left {
  top: 30px;
  left: 10%;
}

.video-thumbnail {
  position: relative;
}

.card-content-overlay {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  transition: opacity 400ms;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.video-thumbnail:hover .card-content-overlay {
  visibility: visible;
  opacity: 1;
}

.btn {
  border-radius: 0%;
}

.side-bar {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #212121;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.nav-open {
  width: 200px;
}

.side-bar span {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 1em;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.menu-item {
  border-bottom:solid 1px #555;
}


.side-bar span:hover, .offcanvas span:focus{
  color: #f1f1f1;
  cursor: default;
}

.side-bar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 20px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav span {font-size: 12px;}
}

#nav-toggle {
  position: fixed;
  z-index: 1;
  top: 10px;
  left: 10px;
  font-size: 36px;
}


#nav-toggle:hover {
  color: #818181;
}

.section-line-center {
  flex-grow: 1;
  height: 1px;
  background: linear-gradient(to right, #f0ad4e, #0275d8, #f0ad4e);
}

.text-menu-option {
  font-size: .9em;
  cursor: default;
  list-style: none;
  color: #0275d8;
}

.text-menu-option:hover {
  color: #f1f1f1;
}
